.header {
    border-top: 3px solid #343434;
    border-bottom: 3px solid #343434;
    background: rgb(201, 201, 201);
    &__wrapper {
        @include container;
        display: flex;
        flex-direction: column;
        background: rgb(201, 201, 201);


        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__logo{}
}

.logo {
    &__img {}
    &__title {
        width: 100%;
        font-size: 26px;
        color: #000;
        & a {
            text-decoration: none;
            color: #000;
        }
    }
}