.header {
    border-top: 3px solid #343434;
    border-bottom: 3px solid #343434;
    &__wrapper {
        @include container;
        @include row-flex;

        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__logo{}
}

.logo {
    &__img {}
    &__title {
        font-size: 26px;
        color: #000;
    }
}